@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.new-more {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  gap: 12px;
  border-radius: vars.$block-radius;

  @media (any-hover: hover) {
    &:hover .new-more__img {
      @include mixins.card-hover;
    }
  }

  &__img-wrapper {
    flex: 1.1;
    border-radius: vars.$block-radius;
    overflow: hidden;
  }

  &__img {
    @include mixins.img-hover;

    aspect-ratio: 1;
    border-radius: vars.$block-radius;
    background-color: vars.$button;
  }

  &__container {
    display: flex;
    flex: 2.6;
    flex-direction: column;
    gap: 4px;
  }

  &__description {
    @include mixins.text-overflow(1);
    @include mixins.card-meta;
  }

  &__date {
    @include mixins.date-separator;
  }

  &__link {
    @include mixins.text-overflow(3);

    font-family: vars.$font-accent;
    font-weight: 400;
    font-size: 16px;
    line-height: 124%;
    color: vars.$primary;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}
