@use "variables" as vars;

// hover
@mixin link-hover($color) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: $color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
  }

  @media (any-hover: hover) {
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

@mixin card-hover() {
  transform: scale(1.2);
  filter: brightness(80%);
}

@mixin img-hover() {
  transition: transform .5s ease, filter .5s ease;
}

@mixin source-hover {
  transition: color .5s ease;

  @media (any-hover: hover) {
    &:hover {
      color: vars.$primary;
    }
  }
}

// absolute position center
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// text overflow
@mixin text-overflow($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

// section title
@mixin section-title {
  font-family: vars.$font-accent;
  font-weight: 500;
  font-size: clamp(24px, 4vw, 28px);
  line-height: 136%;
  color: vars.$primary;
}
