@use "../../../styles/helpers/variables" as vars;

.swiper {
  width: 100%;
  max-width: 1170px;
  height: 100%;
  margin-left: 0;
}

.swiper-controls {
  display: flex;
  align-items: center;
  gap: 39px;

  &_small {
    gap: 30px;
  }
}

.swiper-prev, .swiper-next {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  border: none;
  padding: 0;
  transition: transform .5s ease;
  border-radius: 3px;
  background-color: vars.$primary;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__svg {
    width: 24px;
    height: 12px;
  }
}

.swiper-prev__svg {
  rotate: 180deg;
}

.swiper-button-disabled {
  background-color: vars.$slider-button-disabled;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  display: flex;
  flex-wrap: wrap;
  position: static;
  gap: 5px clamp(0px, 1.5vw, 20px);
}

.swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: vars.$font-accent;
  font-weight: 400;
  font-size: clamp(18px, 2.5vw, 24px);
  line-height: 100%;
  letter-spacing: 0.01em;
  color: vars.$primary;
  opacity: .6;
  background-color: transparent;
  transition: opacity .5s ease;

  @media (any-hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}

.swiper-pagination-bullet-active {
  font-weight: 700;
  color: vars.$secondary;
  opacity: 1;
  background-color: vars.$primary;
}

@media screen and (max-width: 768px) {
  .swiper-controls {
    gap: 10px;

    &_small {
      gap: 16px;
    }
  }

  .swiper-prev, .swiper-next {
    width: 40px;
    height: 30px;
  }

  .swiper-pagination {
    column-gap: 0;
  }

  .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
  }
}
