@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  padding: 31px 48px 45px;
  gap: 40px;
  border-radius: vars.$block-radius;

  &_small {
    min-height: 400px;
    padding: 31px 36px 36px;
  }

  &_big {
    min-height: 518px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (any-hover: hover) {
    &:hover .slide__img {
      transform: scale(1.2);
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    height: 100%;
    transition: transform .5s ease;
    object-position: bottom;
    inset: 0;
    filter: brightness(40%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__description {
    @include mixins.text-overflow(1);

    font-weight: 400;
    font-size: clamp(14px, 3vw, 18px);
    line-height: 110%;
    color: vars.$accent;
  }

  &__source {
    font-weight: 400;
    font-size: clamp(14px, 3vw, 18px);
    line-height: 110%;
    color: vars.$accent;
  }

  &__date {
    font-weight: 400;
    font-size: clamp(14px, 3vw, 18px);
    line-height: 110%;
    color: vars.$accent;

    &::before {
      content: " - ";
    }
  }

  &__title {
    width: 100%;
    max-width: 650px;
  }

  &__title-link {
    font-family: vars.$font-accent;
    font-weight: 900;
    font-size: clamp(22px, 6vw, 36px);
    line-height: 114%;
    text-transform: uppercase;
    color: vars.$accent;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  &__subtitle {
    width: 100%;
    max-width: 705px;
    font-weight: 500;
    font-size: clamp(18px, 3vw, 20px);
    line-height: 140%;
    color: vars.$accent;
  }
}

@media screen and (max-width: 879px) {
  .slide {
    padding: 30px 16px;
  }
}
