.double-section {
  display: flex;
  gap: 80px 30px;
}

@media screen and (max-width: 1085px) {
  .double-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .double-section {
    row-gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .double-section {
    row-gap: 40px;
  }
}