@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: none;
  padding: 10px 15px;
  transition: background-color .5s ease;
  gap: 10px;
  border-radius: 6px;
  background-color: vars.$button;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: vars.$primary;
    }
  }

  &_secondary {
    padding: 12px 31px;
    background-color: vars.$primary;

    @media (any-hover: hover) {
      &:hover {
        background-color: vars.$button;
      }
    }
  }

  &__icon {
    padding: 2px;
    border-radius: 0;
    background-color: transparent;
  }

  &__svg {
    width: 16px;
    height: 16px;
    fill: vars.$accent;

    &_icon {
      width: 24px;
      height: 24px;
      fill: vars.$primary;
    }
  }

  &__title {
    @include mixins.text-overflow(1);

    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: .01em;
    color: vars.$accent;
  }

  &__title-secondary {
    @include mixins.text-overflow(1);

    font-weight: 700;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: vars.$secondary;
  }
}
