@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.burger {
  --burger-line-offset: 8px;
  --burger-duration: .2s;

  display: block;
  position: relative;
  width: 28px;
  height: 28px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover .burger__line, &:hover .burger__line::before, &:hover .burger__line::after {
      background-color: vars.$button;
    }
  }

  &__line {
    @include mixins.position-center;

    display: block;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: vars.$primary;
    transition: background-color var(--burger-duration);

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background: vars.$primary;
      transition: translate var(--burger-duration) var(--burger-duration), rotate var(--burger-duration) 0s;
    }

    &::before {
      translate: 0 calc(-1 * var(--burger-line-offset));
      rotate: 0deg;
    }

    &::after {
      translate: 0 var(--burger-line-offset);
      rotate: 0deg;
    }
  }

  &.is-active .burger__line {
    background-color: transparent;

    &::before, &::after {
      translate: 0 0;
      transition: translate var(--burger-duration) 0s, rotate var(--burger-duration) var(--burger-duration);
    }
  }

  &.is-active .burger__line::before {
    rotate: 45deg;
  }

  &.is-active .burger__line::after {
    rotate: -45deg;
  }
}
