@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.slider {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: vars.$block-radius;
    background-color: vars.$secondary;
    overflow: hidden;
  }

  &__controls {
    align-self: flex-end;
    padding: 0 25px 25px;
  }
}

@media screen and (max-width: 768px) {
  .slider__container {
    gap: 16px;
  }

  .slider__controls {
    padding: 0 16px 16px;
  }
}
