@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.recent-news {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;

  &__title {
    @include mixins.section-title;
  }

  &__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 30px;
  }

  &__left {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: min(227px, 100%);
  }

  &__right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
    width: 100%;
    min-width: min(255px, 100%);
    padding-bottom: 13px;
    border-radius: vars.$block-radius;
    background-color: vars.$secondary;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px 8px 0 14px;
  }

  &__button {
    align-self: center;
    padding: 7px 12px;
  }
}

@media screen and (max-width: 1085px) {
  .recent-news__left {
    max-height: 485px;
  }

  .recent-news__right {
    flex: .7;
    padding: 30px;
  }

  .recent-news__list {
    padding: 0;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .recent-news__container {
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
  .recent-news__container {
    flex-wrap: wrap;
    gap: 16px;
  }

  .recent-news__left {
    min-width: min(234px, 100%);
  }

  .recent-news__right {
    flex: 1;
    min-width: min(266px, 100%);
    padding: 16px;
  }

  .recent-news__list {
    gap: 10px;
  }
}

@media screen and (max-width: 548px) {
  .recent-news__left {
    max-height: 300px;
  }
}
