@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.clubs-ranking {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;

  &__title {
    @include mixins.section-title;
  }

  &__container {
    flex: 1;
    width: 100%;
    padding: 20px 0;
    border-radius: vars.$block-radius;
    background-color: vars.$secondary;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    min-width: 528px;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: vars.$font-accent;
    line-height: 100%;
    color: vars.$primary;
  }

  &__row {
    border-bottom: .5px solid vars.$button;

    &:last-child {
      border-bottom: none;
    }
  }

  &__head {
    padding: 0 0 16px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;

    &_club {
      padding-left: 30px;
      text-align: start;
    }
  }

  &__abbr {
    cursor: help;
  }

  &__club {
    padding: 7px 0 7px 30px;
    font-weight: 600;
    font-size: 13px;
    text-align: start;
  }

  &__club-inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__place {
    flex-shrink: 0;
  }

  &__emblem {
    flex-shrink: 0;
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }

  &__name {
    @include mixins.text-overflow(1);
  }

  &__num {
    width: 43px;
    padding-left: 18px;

    &:last-child {
      width: 73px;
      padding-right: 30px;
    }
  }

  &__cell {
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &__row:last-child &__club, &__row:last-child &__cell {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .clubs-ranking__row {
    border-bottom: 1px solid vars.$button;
  }

  .clubs-ranking__head_club, .clubs-ranking__club {
    padding-left: 16px;
  }

  .clubs-ranking__num:last-child {
    width: 59px;
    padding-right: 16px;
  }
}
