.page {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 20px;
  }

  &__container {
    width: 100%;
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-bottom: 10px;
  }
}
