.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  &__header {
    width: 100%;
    min-width: 320px;
    margin-bottom: 20px;
  }

  &__intro {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__section {
    width: 100%;
    min-width: 320px;
    max-width: 1202px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    &_slider {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__footer {
    width: 100%;
    min-width: 320px;
    max-width: 1202px;
    margin: 0 auto 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-height: 600px) {
  .page__intro {
    scroll-margin-top: 200px;
  }

  .page__section, .page__double {
    scroll-margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) and (min-height: 600px) {
  .page__intro, .page__section, .page__double {
    scroll-margin-top: 75px;
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-bottom: 10px;
  }
}
