.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  &__header {
    width: 100%;
    min-width: 320px;
    margin-bottom: 20px;
  }

  &__intro {
    width: 100%;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__section {
    width: 100%;
    min-width: 320px;
    max-width: 1202px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;

    &_slider {
      max-width: 1170px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-bottom: 10px;
  }
}
