@use "../../../styles/helpers/variables" as vars;
@use "../../../styles/helpers/mixins";

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
  background-color: vars.$primary;

  @media (any-hover: hover) {
    &:hover::before {
      top: 0;
    }
  }

  &:focus {
    outline: none;
  }

  &__svg {
    z-index: 3;
    width: 28px;
    height: 28px;
    transition: transform .5s ease;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: top .5s ease;
  }

  &:focus-visible::before {
    top: 0;
  }

  &_facebook::before {
    background: #3b5999;
  }

  &_instagram::before {
    background: linear-gradient(180deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
  }

  &_twitter::before {
    background: #55acee;
  }

  &:hover .social__svg {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 640px) {
  .social {
    width: 40px;
    height: 40px;

    &__svg {
      width: 20px;
      height: 20px;
    }
  }
}
