@use "../helpers/variables" as vars;

html {
  scroll-behavior: smooth;
}

*, ::before, ::after {
  font-family: "DM Sans", Arial, Helvetica, "San Francisco", Roboto, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: #000;
}
